
@import url('https://fonts.cdnfonts.com/css/nunito');
:root {
  --bg-blue-p: #2e4595;
  --bg-blue-s: #1a1e4b;
  --bg-blue-60:#d5daea;
  --bg-amarillo-p: #fec20ecb;
  --bg-amarillo-50 :#ffe087;
  --bg-yellow: #ffc107;
  --bg-white: #fff;
  --bg-gray: #6c757d;
  --bg-gray-dark: #343a40;
  --bg-secondary: #6c757d;
  --bg-success: #198754;
  --bg-light: #f8f9fa;
  --bg-dark: #212529;
  --bordeado : 0.5rem;
}


.text-sm{
  font-size:0.8em;
  color:rgb(205, 39, 234);
  font-weight: 400;
}

.text-blue-p{
  color: var(--bg-blue-p) !important;
}
.blue-60{
  background-color:var(--bg-blue-60);
}

.bg-blue-p{
  background-color:var(--bg-blue-p)
}
.App {
  text-align: center;
}

*{
  font-family:'Nunito',Verdana,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}
body{
  background-color:var(--bg-light);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
