.row{
    display: flex;
    justify-content: space-evenly  ;
    gap: 1rem ;
    margin-top: 1rem;
}

.nav-content{
    background-color:var(--bg-blue-60);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    border-radius:var(--bordeado);
    box-shadow: 0.2rem 0.2rem hsla(0, 0%, 0%, 0.342);
    margin-bottom: 2rem;
    
}

span{
    color: var(--bg-blue-p);
    font-weight: 600;
}

.input-buscar{
    padding: 0.5rem;
    width :70%;
    border: 2px solid var(--bg-blue-p);
    border-radius: var(--bordeado);
    font-weight: 700;
    font-size:0.9rem;
    outline: none;
}
.btn-buscar{
    padding: 0.5rem 1.5rem;
    background-color:var(--bg-blue-p);
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
    border: #fff solid 0.1rem;
    border-radius:var(--bordeado); 
    text-decoration: none;
}

.btn-buscar a{
    text-decoration: none;
}

.btn-buscar:hover{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color:#fff;
    color: var(--bg-blue-p);
    font-weight: 900;
    font-size: 1rem;
    border: var(--bg-blue-p) solid 0.1rem;
    border-radius: var(--bordeado);
}

.container-card{
    display: flex;
    justify-content: center;  
    flex: wrap;
    flex-wrap:wrap ;
    width: 80%;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto; 
}

select{
   
    outline: 0;
    border: 1px solid var(--bg-blue-p);
   background: transparent;
   background-image: none;
   padding: 0 .5em;
   color:var(--bg-blue-p);
   cursor:pointer;
   font-size: 1em;
   height: 3em;
    line-height: 3;
    border-radius: .25em;
}



