.form-new{
    background-color: #8fca8f;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 0.5rem;
    padding: 1rem;
}

.form-new table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.input-form{
    width: 50%;
    text-align: center;
    font-size: 1rem;
    border-radius:0.5rem;
    padding: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}